body{
    background-color: #212C3A;
    text-decoration: none;
     font-family: Avenir Next;
    color: #FFFFFF;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #151D26;
   color: white;
   text-align: center;
    border-color: lightgray;
    border-top: 3px;
    text-align: center;


   
}

a {
    text-decoration: none;
    color: white;
    font-family: Avenir Next;
    list-style-type: none;
    
}

li {
    display: inline;
    margin: 2px;
   
    text-align: center;
    
}

img {
    max-width: 350px;
}

